body, html{
  height: 100%;
  width: 100%;
  color: black;
  background: #F5F5F5;
  font-size:14px;
}

.container{
  width: 90%;
  display: block;
  margin: 0 auto;
}

.App-title{
  font-size: 2rem;
  text-align: center;
}

.App-title span{
  font-size: 3rem;
  font-family: cursive;
  border-radius: 10%;
}
a{
  color: rgb(0, 188, 212);
}

.card-ul{
  line-height: 200%;
  list-style: none;
  padding: 0;
}

.googlemaps{
  height: 300px;
  width: 40%;
  position: absolute;
  right: 1%;
  bottom: 2.5%;
}

.not-found{
  font-size: 30;
  color:red;
  text-align: center;
}